@{ ViewData["Title"] = "SuperCars Stand"; }

@*Titulo página*@
<br />
<div class="text-center">
    <h1 class="display-4 " style="font-size: 100px;">SuperCars Stand</h1>
</div>

@*Logo pagina inicial*@
<img src="fotos/logo.png" />

