@{ ViewData["Title"] = "Sobre"; }
<h1 style=" font-size: 100px; text-align:center">@ViewData["Title"]</h1>
<br />
<br />
<p style=" font-size: 40px; text-align:center">Trabalho realizado por:</p>
<p style=" font-size: 25px; text-align:center">Duarte Valente</p>
<p style=" font-size: 25px; text-align:center"> 22180 Turma B</p>
<p style=" font-size: 25px; text-align:center">Tecnologias da Internet 2</p>
